body {
    font-family: Arial, sans-serif;
    background-color:#b5990f;
}

header {
    background-color: #33044cea;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul  li a {
text-decoration: none;

}
a:hover {
text-decoration: underline;
}
section {
margin: 20px 0;
}
footer {
background-color: #470d61;
padding: 10px;
text-align: center;
}
.nama {
font-weight: bold;
}
#warna {
color: #b5990f;
}   
footer a {
color:#b5990f
}
[href*="#pendidikan"] {
color:rgb(92, 12, 98)
}
[href*="#biodata"] {
color:rgb(92, 12, 98)
}
[href*="#skills"] {
color:rgb(92, 12, 98)
}

a:hover{
color: crimson;
}

p::first-line{
color: aquamarine;
}
section {
border: 1px solid #ddd;
padding: 15px;
margin: 20 px 0;
box-shadow: 0 0 5px #aaa;
}